body{
    background-color:#EBEBD5;
    max-width: 1024px;
    margin: 0 auto;
}

h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width : 1080px;
    size: 20cm;
    font-size: 50pt;
    margin: 5px;
    margin-top: 7px;
}

legend.leyenda{
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

p.tituloLabel{

    font-size: 15pt;
}

p.aviso{

    font-size: 20pt;
    text-decoration: underline rgb(14, 25, 88);
}