body{
    background-color:#EBEBD5;
    max-width: 1024px;
    margin: 0 auto;
}

h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width : 1080px;
    size: 20cm;
    font-size: 29pt;
    margin: 5px;
    margin-top: 7px;
    
}

img.fotoRelsB{
    padding: 10px 150px;
    width: 350px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 53px;
}
h3{
    size: 10px;
    font-size: 10px;
    margin-left: 14cm;
}
p{
    font-family: 'Times New Roman', Times, serif;

}
div{

    text-align: center;
}